<!DOCTYPE html>
<html>
  <head>
    <title>VAS MAP Selector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vas_setup.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    socket.on('status', function(message) {
      let data = message['data']
      document.getElementById("Status").innerHTML = data;
    })

    function populate_js(form) {
      console.log("test");
      var values = {};
      $.each($("form").serializeArray(), function (i, field) {
          values[field.name] = field.value;
      });

      console.log(values['rows_of_data']);
      rows = values['rows_of_data'];
      socket.emit('function', {'data': 'populate', 'number_of_rows': rows});

      return false;
    }

    $("#form-populate").submit( function() {
      console.log("test");
      var values = {};
      $.each($("form").serializeArray(), function (i, field) {
          values[field.name] = field.value;
      });

      // console.log(values['rows_of_data']);
      // rows = values['rows_of_data'];
      // socket.emit('function', {'data': 'populate', 'number_of_rows': rows});

      return false;
    });

    </script>
    <style>
      .badge {
        height: 100%;
        margin-top: 3px;
        margin-left: 10px;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <div class="row"><h3>Vehicle Simulation Demo</h3></div>
      <div class="row border mb-3 p-3">
        <div class="col-sm-4">
          <div class="row"><h4>Setup</h4></div>
          <div class="row ml-1">
            {{ form.csrf_token }}
            <form method="POST" action="{{ url_for('vas.vas_setup') }}">
              {{ form.number_of_workers.label }} (1 - {{rsu_count}}) {{ form.number_of_workers }}
              <br>
              {{ form.number_of_masters.label }} (1 - {{rsu_count}}) {{ form.number_of_masters }}
              <br>
              {{ form.hidden_tag() }}
              <p><input name="setup" type=submit value="Setup">
            </form>
          </div>

          <div class="row"><h4>Populate InfluxDBs</h4></div>
          <div class="row ml-1">
            {% if rsu_count == 0 %}
            <h6 class="text-danger">Warning: No RSU data available. Please populate the DB.</h6>
            {% endif %}
            <h5>Status: <div id="Status"></div></h5>
          </div>
          <div class="row ml-1">
            {{ populate.csrf_token }}
            <!-- <form method="POST" action="{{ url_for('vas.vas_setup') }}"> -->
            <form id="form-populate" action="" method="POST">
            <!-- <form id="populate_form"> -->
              {{ populate.rows_of_data.label }} {{ populate.rows_of_data }}
              {{ populate.hidden_tag() }}
              <p><input name="populate" class="submit" type="submit" value="Populate">
            </form>
          </div>
        </div>

        <div class="col-sm-8">
          {% if json_rsu_list %}
          <div class="row"><h4>Simulate</h4></div>
          <form method="POST" action="{{ url_for('vas.vas_simulate') }}">
            <div class="row ml-1">
              <h5>Delay Profile</h5>
              <span onclick="togglePanel('delay-panel');" class="badge badge-secondary">Toggle</span>
            </div>
            <div id="delay-panel" class="ml-3">
              <div class="row ml-1">
                <h6>Cluster</h6>
                <span onclick="togglePanel('cluster-delay-panel');" class="badge badge-secondary">Toggle</span>
              </div>
              <div id="cluster-delay-panel">
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.cluster_tx_rate.label }}</div><div class="col-sm-4">{{ dp_form.cluster_tx_rate(class_='dp-form-input') }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.cluster_prop_speed.label }}</div><div class="col-sm-4">{{ dp_form.cluster_prop_speed }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.cluster_link_length.label }}</div><div class="col-sm-4">{{ dp_form.cluster_link_length }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.cluster_proc_delay.label }}</div><div class="col-sm-4">{{ dp_form.cluster_proc_delay }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.cluster_queueing_delay.label }}</div><div class="col-sm-4">{{ dp_form.cluster_queueing_delay }}</div></div>
              </div>

              <div class="row ml-1">
                <h6>Gateway</h6>
                <span onclick="togglePanel('gateway-delay-panel');" class="badge badge-secondary">Toggle</span>
              </div>
              <div id="gateway-delay-panel">
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.gateway_tx_rate.label }}</div><div class="col-sm-4">{{ dp_form.gateway_tx_rate }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.gateway_prop_speed.label }}</div><div class="col-sm-4">{{ dp_form.gateway_prop_speed }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.gateway_link_length.label }}</div><div class="col-sm-4">{{ dp_form.gateway_link_length }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.gateway_proc_delay.label }}</div><div class="col-sm-4">{{ dp_form.gateway_proc_delay }}</div></div>
                <div class="row ml-1"><div class="col-sm-8">{{ dp_form.gateway_queueing_delay.label }}</div><div class="col-sm-4">{{ dp_form.gateway_queueing_delay }}</div></div>
              </div>
            </div>
            <div class="row ml-1">
              <h5>Strategy</h5>
              <span onclick="togglePanel('strategy-panel');" class="badge badge-secondary">Toggle</span>
            </div>
            <div id="strategy-panel" class="ml-3">
              <input id="rbtn_opt_1" type="radio" name="strategy" value="single-collector">Use one collector node for all<br/>
              <input id="rbtn_opt_2" type="radio" name="strategy" value="handle-own-data">Let each node collect and process its own data<br/>
              <input id="rbtn_opt_3" type="radio" name="strategy" value="clustered-collection" checked>Use one collector node per cluster<br/>
              <input name="rsu_cluster_data" type="hidden" value="{{ json_rsu_list }}">
            </div>
            <input type="submit" value="Simulate">
          </form>
          {% endif %}
        </div>
      </div>

      {% if master_rsu_list %}
      <div class="row border mb-3 p-3">
        <div class="col-sm-12">
          <div class="row rsu-list-pane"><h4>RSU List</h4></div>
          <div class="row rsu-list-pane ml-1">
            {% for inner_rsu_list in master_rsu_list %}
            {% for master_rsu, rsu_list in inner_rsu_list.items() %}
            <div class="col-sm-3 mb-3">
              <h5>{{ master_rsu }}</h5>
              <table>
                <thead>
                  <th>RSU ID</th>
                  <th>Lon</th>
                  <th>Lat</th>
                </thead>
                <tbody>
                  {% for rsu in rsu_list %}
                  <tr>
                    <td>{{ rsu.rsu_id }}</td>
                    <td>{{ "{:5.2f}".format(rsu.lon) }}</td>
                    <td>{{ "{:5.2f}".format(rsu.lat) }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>   

