<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vas_simulate.js') }}"></script>
</head>
<body>
<div class="container">
  <div class="d-none">
    {% if strategy %}
    <input type="hidden" id="v_strategy" value="{{ strategy }}">
    {% endif %}
    {% if rsu_list %}
    <input type="hidden" id="v_rsu_list" value="{{ rsu_list }}">
    {% endif %}
    {% if cluster_data %}
    <input type="hidden" id="v_cluster_data" value="{{ cluster_data }}">
    {% endif %}
    {% if svc_params %}
    <input type="hidden" id="v_svc_params" value="{{ svc_params }}">
    {% endif %}
    {% if delay_profile %}
    <input type="hidden" id="v_delay_profile" value="{{ delay_profile }}">
    {% endif %}
  </div>
  <div class="row"><h3>Vehicle Simulation Demo</h3></div>
  <div class="row">
    <div class="col-sm-5 mb-3 p-3 border">
      <h5>Results</h5>
      {% if error_msg %}
      <h6>{{ error_msg }}</h6>
      {% else %}
      <div id="result-progress" class="m-2 p-3">
        <p>Loading...</p>
      </div>
      <table id="tbl_results" class="w-100 d-none">
        <thead>
          <th>RSU ID</th>
          <th>Ave Speed</th>
        </thead>
        <tbody id="tbl_results_body">
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="col-sm-7 mb-3 p-3 border">
      <h5>Timing Information</h5>
      {% if error_msg %}
      <h6>{{ error_msg }}</h6>
      {% else %}
      <p>Loading...</p>
      <table id="tbl_timing_info" class="w-100 d-none">
        <thead>
          <th>Task</th>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
        </thead>
        <tbody id="tbl_timing_info_body">
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
</body>
</html>

